.container_title{
  color: white;
}
.container_title > h1{
  font-size: 135px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'segoe UI';
}
.container_title > hr{
  margin-top: 20px;
  margin-bottom: 20px;
}
