.container_menu-bar{
 margin-top: 30px;
}
.container_menu-bar > ul{
  display: flex;
  flex-direction: row;
}
.container_menu-bar > ul > li{
  color: white;
  margin-left: 25px;
  list-style: none;
}
